@model  Ticy.Web.ViewModels.ThreadDetailsViewModel

@{
    ViewBag.Title = Model.Entity.Title;
}

@section bodyHeader{
    <div class="jumbotron" style="width:100%">
        <center>
            <h1>@Model.Entity.Title</h1>
        </center>
    </div>
}
<p>
    <pre class="line-numbers"><code class="language-@Model.Entity.LanguageClass)">@Model.Entity.Content</code></pre>
</p>

<div id="disqus_thread"></div>
@Scripts.Render("~/disqus")
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
