@using Ticy.Web.Common
@model  Ticy.Web.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Tang Inang Code Yan!";
}

<ul id="threads" style="list-style: none">
    @foreach (var item in Model.Entity)
    {
        <li data-id="@item.Id">
            <h1><a  class="thread-title" href="/t/@ViewHelper.ConvertToHash(item.Id)/@item.SlugTitle">@item.Title...</a></h1>
            @if (item.ContentType == Likja.Conthread.ContentType.Image)
            {
                <small class="thread-preview">click on the link above to view this picture</small>
            }
            else
            {
                <small class="thread-preview">@item.Content</small>
            }
        </li>
    }
</ul>
<script>
    var ticy_last_id = $("#threads li:last").attr('data-id');

    console.log('last id is : ' + ticy_last_id);
</script>
@section Scripts
{
    <script>
        $(function () {
            $(window).scroll(function () {

                console.log($(window).scrollTop());

                if ($(window).scrollTop() == $(document).height() - $(window).height()) {

                    console.log('boom panes!');

                    // ajax call get data from server and append to the div
                }
            });
        });

    </script>
}